# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_DartConfiguration.tcl
CPackConfig.cmake
CPackSourceConfig.cmake
Testing/

# VS CMake cache
.vs/
out/

# Сборки
Debug/
Release/
*.sdf
*.opensdf
*.suo
ipch/
*.VC.db
*.VC.VC.opendb

# IDE
.vscode/
.idea/